/* Main Style */

body,
html {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.7rem;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3 {
  padding-top: 20px;
}

p {
  margin: 10px 0;
}

::placeholder {
  font-size: 18px;
}
