{
 "printWidth": 80,
 "tabWidth": 2,
 "useTabs": false,
 "semi": true,
 "singleQuote": true,
 "jsxSingleQuote": false,
 "jsxBracketSameLine": false,
 "trailingComma": "es5",
 "bracketSpacing": false,
 "arrowParens": "always",
 "overrides": [
  {
   "files": ["*.html"],
   "options": {
    "tabWidth": 2,
    "printWidth": 1600,
    "htmlWhitespaceSensitivity": "ignore"
   }
  },
  {
   "files": ["*.js"],
   "options": {
    "singleQuote": true
   }
  },
  {
   "files": [
    "*.prettierrc*",
    "*.stylelintrc*",
    "*.eslintrc*",
    "*.gitignore*"
   ],
   "options": {
    "tabWidth": 1,
    "printWidth": 40,
    "htmlWhitespaceSensitivity": "ignore"
   }
  }
 ]
}
