<!DOCTYPE html>
<html lang="en,pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <title>Title Page</title>
  </head>
  <body>
    <h1>Page</h1>
    <div class="image">
      <img src="../assets/img/photo2.jpg" alt="" />
    </div>
    <div class="image2"></div>
    <div style="clear: both;"></div>
    <footer>Stopka</footer>
  </body>
</html>
